body {
  font-family: sans-serif;
}
pre, code, samp {
  font-family: monospace;
}
#home-header, #home-main {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
  a {
    color: #42a5f5;
  }
  a:visited {
    color: #9575cd;
  }
}
