@font-face {
  font-family: 'Main';
  font-style: normal;
  font-weight: 400;
  src: url(/main.woff2); 
}
@font-face {
  font-family: 'Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/mono.woff2); 
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Main, sans-serif;
}
pre, code, samp {
  font-family: Mono, monospace;
}
a {
  color: #42a5f5;
}
a:visited {
  color: #9575cd;
}
#home-header, #home-main {
  text-align: center;
}
