@font-face {
  font-family: Main;
  src: url(/main.woff2); 
}
@font-face {
  font-family: Mono;
  src: url(/mono.woff2); 
}
body {
  font-family: Main, sans-serif;
}
pre, code, samp {
  font-family: Mono, monospace;
}
#home-header, #home-main {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
  a {
    color: #42a5f5;
  }
  a:visited {
    color: #9575cd;
  }
}
